// Make the container span full width when this block is inside it
.bb-container-default:has(.w25-testimonials-swiper-block.wide) {
	@apply col-span-12;
}

.w25-testimonials-swiper-block {
	@apply relative;

	// Using borders instead of Swiper.js's spaceBetween option
	// For mobile, just to the left so that the first slide is aligned properly
	.swiper-slide {
		@apply border-l-[1.25rem] border-r-0 border-transparent;
	}
	// For bigger screens on both sides
	@screen sm {
		.swiper-slide {
			@apply border-x-[1.25rem] border-transparent;
		}
	}

	// Prepare fade effect on either side of the swiper block
	&::before,
	&::after {
		content: '';
		@apply block absolute top-0 bottom-0 z-[2] opacity-0 transition-opacity duration-500;
		// Fade length
		@apply w-[1.25em];
		@screen sm {
			@apply w-[4em];
		}
		@screen lg {
			@apply w-[8em];
		}
	}

	// Left side fade
	&::before {
		@apply left-0 bg-gradient-to-r from-white;

	}

	// Right side fade
	&::after {
		@apply right-0 bg-gradient-to-l from-white;

	}

	// Fade effect active on load for mobile and smaller screens
	@media (max-width: 1023px) {
		&::before,
		&::after {
			@apply opacity-100;
		}
	}

	// For larger screens: apply fade effect when Swiper starts moving (see swiper config)
	@screen lg {
		&.started::before,
		&.started::after {
			@apply opacity-100;
		}
	}
}
