.home {
	.bb-video-swiper-block {
		@apply max-w-xl lg:max-w-4xl mx-auto px-4 md:px-0;
	}
}
.bb-video-swiper-block {
	.swiper-wrapper {
		align-items: flex-start;
	}

	.swiper-slide {
		height: auto;
		width: auto;
	}

	.video-player-wrapper {
		@apply w-full;
	}

	.plyr {
		@apply w-full h-full;

		.plyr__control.plyr__control--overlaid {
			svg {
				@apply hidden;
			}
		}
		.plyr__controls__item.plyr__volume {
			@apply absolute right-1 bottom-3 z-40 bg-black w-8 h-8 flex items-center justify-center rounded-full;
			button {
				@apply hover:bg-black/90
			}
		}
	}

	.plyr__video-embed {
		@apply w-full h-full;

		video {
			@apply w-full h-full object-cover;
		}
	}

	// Reset position for pagination and navigation to allow Tailwind styling in template
	.swiper-button-prev,
	.swiper-button-next {
		@apply static mt-0 w-auto h-auto w-12 text-black;

		svg {
			@apply w-6 h-6;
		}
	}

	.swiper-pagination {
		@apply static text-xl font-alt;
	}
}
