.glam-puzzles {
    .puzzle-item {
        // Puzzle 1
        &.puzzle-1 {
            @apply top-[9.5%] left-[8.2%];
        }

        // Puzzle 2
        &.puzzle-2 {
            @apply top-[9.5%] left-[41.5%];
        }

        // Puzzle 3
        &.puzzle-3 {
            @apply top-[85%] left-[19.25%];
        }

        // Puzzle 4
        &.puzzle-4 {
            @apply top-[131%] left-[8.2%];
        }

        // Puzzle 5
        &.puzzle-5 {
            @apply top-[191.5%] left-[8.2%];
        }

        // Puzzle 6
        &.puzzle-6 {
            @apply top-[191.5%] left-[19.25%];
        }

        // Puzzle 7
        &.puzzle-7 {
            @apply top-[252.15%] left-[19.25%];
        }

        // Puzzle 8
        &.puzzle-8 {
            @apply top-[313%] left-[8%];
        }

        // Puzzle 9
        &.puzzle-9 {
            @apply top-[313%] left-[19.25%];
        }
    }
}