/* Montserrat for Menus */
@font-face {
	font-family: 'Menus';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Menus';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Menus';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Menus';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
}
/* Libertinus Serif for Headings */
@font-face {
	font-family: 'Headings';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('../fonts/LibertinusSerif-Regular.woff2') format('woff2');
}

/* Roboto Flex for Body Text */
@font-face {
	font-family: 'Texts';
	font-style: normal;
	font-weight: 100 1000;
	font-display: swap;
	src: url('../fonts/RobotoFlex.woff2') format('woff2');
}