// Main menu structure
.menu {
	@apply flex flex-col divide-y divide-primary-dark md:divide-y-0;

	&.horizontal {
		@apply md:flex-row;
	}

	&.right {
		li {
			@apply md:justify-end;
		}
	}

	li {
		@apply flex;

		a,
		button {
			@apply btn btn-menu;
		}

		&.current-menu-item {
			a {
				@apply font-bold;
			}
		}
	}
}

// Right nav and dropdown link colors
#nav-right-level-1,
.dropdown {
	li {
		a,
		a.btn {
			@apply text-primary-dark hover:text-primary hover:bg-transparent;
		}
	}
}

// Button menu base styles
.btn-menu {
	@apply rounded-md inline-flex select-none flex-wrap items-center justify-start border-transparent text-left transition duration-200 ease-out leading-none text-base p-3 bg-transparent text-black font-menus font-medium hover:bg-gray hover:border-gray mb-0 h-16 lg:h-auto;

	&.current {
		@apply font-bold !border-4 !border-primary;
	}
}

// Button menu section styles
.btn-menu-section {
	@apply text-sm bg-transparent text-black font-menus font-bold uppercase border-none hover:bg-transparent hover:text-primary-800 rounded-md;
}

// Desktop domains navigation
#navmenu_desktop_domains {
	a.btn-menu.current {
		// @apply font-bold border-4 border-primary #{!important};
	}
}

// Desktop dropdown navigation
#navmenu_desktop_dropdown {
	li {
		&.current {
			@apply text-primary-dark font-bold;
		}
	}
}

// Dropdown animations
#navmenu_desktop_dropdown {
	& > div.invisible {
		opacity: 0;
	}

	& > div.visible {
		opacity: 1;
		transition: opacity 0.2s;
	}
}
