// Domains
#navmenu_desktop_domains {
	a {
		&.current {
			// Current domain or top-level page
		}
	}
}

// Menu items in dropdown
#navmenu_desktop_dropdown {
	li {
		&.current {
			@apply text-primary-dark font-bold;
		}
	}
}

// Dropdown animations (could not get them to work with AlpineJS)
#navmenu_desktop_dropdown {
	& > div.invisible {
		opacity: 0;
	}
	& > div.visible {
		opacity: 1;
		transition: opacity 0.2s;
	}
}


.menu {
	@apply flex flex-col divide-y divide-primary-dark md:divide-y-0;
	&.horizontal {
		@apply md:flex-row;
	}
	&.right {
		li {
			@apply md:justify-end;
		}
	}
	li {
		@apply flex;
		a,
		button {
			@apply btn btn-menu;
		}
		&.current-menu-item {
			a {
				@apply font-bold;
			}
		}
	}
}
#nav-right-level-1,
.dropdown {
	li {
		a,
		a.btn {
			@apply text-primary-dark hover:text-primary hover:bg-transparent;
		}
	}
}

/* Menu */
.btn-menu {
	@apply rounded-md inline-flex select-none flex-wrap items-center justify-start border-transparent text-left transition duration-200 ease-out leading-none text-base p-3 bg-transparent text-black font-alt font-medium hover:bg-gray hover:border-gray mb-0;

	&.current {
		@apply text-primary-500;
	}
}

.btn-menu-section {
	@apply text-sm bg-transparent text-black font-alt font-bold uppercase border-none hover:bg-transparent hover:text-primary-800 rounded-md;
}

// Domains
#navmenu_desktop_domains {
	a {
		&.current {
			// Current domain or top-level page
		}
	}
}

// Menu items in dropdown
#navmenu_desktop_dropdown {
	li {
		&.current {
			// Current page
		}

		&.current {
			@apply text-primary-500;
		}
	}
}

// Dropdown animations (could not get them to work with AlpineJS)
#navmenu_desktop_dropdown {
	&>div.invisible {
		opacity: 0;
	}

	&>div.visible {
		opacity: 1;
		transition: opacity 0.2s;
	}
}