// Specific settings for blocks in editor
html :where(.wp-block) {
	@import '../../blocks/**/editor.scss';
}

.editor-styles-wrapper,
:where(.editor-styles-wrapper) {
	.bb-block-spacer {
		@apply after:content-['_spacer'] after:absolute after:top-2 after:right-8 after:bg-neutral-light after:py-1 after:px-3 text-xs after:rounded-full after:block border border-neutral-light rounded-xl border-dotted;
	}
}

// Missing somehow...?
// Doesn't seem to affect layout on site but it breaks the layout in the editor for text-image-float
.clearfix {
	overflow: auto;
}
