@tailwind base;
@tailwind components;
@tailwind utilities;


// List of colors as defined in tailwind.config.js
$bb_colors: 'primary', 'secondary', 'neutral', 'success', 'warning', 'error', 'accent';

/* Styles for Blocks */
@import '../../bb-blocks/**/style.scss';
@import '../../blocks/**/style.scss';

/* UI Basic components */
@import './ui/*';

/* Components */
@import './components/*';

/* Gutenberg overwrites */
@import './gutenberg-overwrites/*';

/* Plugins overwrites */
@import 'plugin-overwrites/gdpr-webtoffee';

/* Templates */
@import './templates/*';

/* Styles for W25 Blocks */
@import '../../blocks/**/style.scss';

.home .video-portrait-text-block {
    @apply max-w-xl lg:max-w-5xl mx-auto px-4 md:px-0;
}